@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
li,
.icon {
  all: unset;
  box-sizing: border-box;
}

#dropdown {
  max-width: 220px;
  /* width: 100%; */
  /* background-color: red; */
  /* border-radius: 6px; */
  position: relative;
}

.menu-item {
  /* width: 100%; */
  cursor: pointer;
}

.submenu-item {
  /* width: 100%; */
}

.dropdown-toggle {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.submenu-toggle {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  translate: 0 -12px;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  translate: 0 12px;
}

.submenu {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  /* translate: -12px 0; */
}

.submenu-toggle:hover>.submenu {
  visibility: visible;
  opacity: 1;  
  translate: 8px 0;
}

.link {
  display: block;
  width: 100%;
  padding: 12px 20px;
}

.submenu-toggle>span {
  padding: 12px 20px;
}